@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,600;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Barlow", sans-serif;
  /* background-color: #fff; */
  scroll-behavior: smooth;
}

:root {
  --headerheight: 10vh;
}

body {
  margin: 0px;
  min-height: 100vh;
}

a:hover {
  color: orangered;
}

header {
  width: 100vw;
  height: var(--headerheight);
  padding: 1rem 2rem;
  position: fixed;
  background-color: rgb(223, 223, 223);
  opacity: 1;
  /*Center Nav elements Vertically*/
  display: flex;
  align-items: center;
  z-index: 999;
}

header nav {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 700;
}

nav#mainnav {
  justify-content: space-between;
  font-weight: 800;
  flex-grow: 1;
  padding: 0 5rem 0 0;
}

nav a {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.3rem;
  color: black;
  padding: 0 1rem;
}

nav#mainnav {
  justify-content: space-between;
  font-weight: 800;
  flex-grow: 1;
  padding: 0 5rem 0 0;
}

@media (max-width: 480px) {
  nav a {
    font-size: 1rem;
  }
}
