/* Bunny's Portfolio Website */

/* Red Border Debugger */
/* *
{
  box-sizing: border-box;
  border: 1px solid red;
} */

section {
  height: 100vh;
  padding: var(--headerheight) 30px;
  font-size: 80px;
  color: white;
  display: flex;
  align-items: center;
}

section#home {
  background-image: url("/images/bunhori1.JPG");
  background-size: cover;
}

section#about {
  background-image: url("/images/bunhori5.jpg");
  background-size: cover;
}

section#work {
  background-image: url("/images/flower1.jpg");
  background-size: cover;
  position: relative;
}

/* #section-link {
  z-index: 999;
 } */

div#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  /* z-index: 998; */
  /* transition? */
}

section#contact {
  background-image: url("/images/gray.jpg");
  background-size: cover;
}

.section-title {
  text-transform: uppercase;
  font-size: 4rem;
  width: 40%;
  color: rgba(255, 255, 255, 0);
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.section-contents {
  width: 60%;
  font-size: 1.5rem;
  flex-grow: 1;
}

form {
  margin: 50px auto;
  width: 90%;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 2rem;
  font-weight: 200;
}
.form-item input,
.form-item textarea {
  flex-basis: 50%;
  border: 2px solid white;
}

.form-item input,
.form-item textarea,
.form-item button {
  border: 2px solid black;
  background-color: #fff;
  padding: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}

.form-item button {
  padding: 10px 20px;
  border: 3px solid white;
  border-radius: 5px;
  letter-spacing: 1px;
}

.form-item button:hover {
  background-color: transparent;
  color: white;
}

label {
  display: none;
}

@media (max-width: 1024px) {
  .section-title {
    font-size: 3rem;
  }
}

@media (max-width: 850px) {
  section {
    flex-direction: column;
    padding: 300px 10px 150px 10px;
    row-gap: 20px;
  }
  .section-title {
    font-size: 2.5rem;
    justify-content: center;
  }
  .section-contents {
    width: 60%;
    font-size: 1.5rem;
  }
  .form-item input,
  .form-item textarea {
    width: 100%;
  }
  #section-contact-title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  section {
    row-gap: 10px;
  }
  .section-title {
    font-size: 2rem;
  }
  .section-contents {
    width: 80%;
    font-size: 1.3rem;
  }
  .form-item input,
  .form-item textarea {
    width: 80%;
  }
  #section-contact-title {
    font-size: 1.5rem;
  }
}
