/* HTML File for Bunny's Portfolio Website */

/* Red Border Debugger

{
  box-sizing: border-box;
  border: 1px solid red;
} */

body {
  background-image: url("/images/bunhori2.JPG");
  background-size: cover;
}
section {
  /* height: 100vh; */
  padding: var(--headerheight) 12rem;
  font-size: 1rem;
  color: black;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: center;
}
/* Below needs media query */

.row {
  display: flex;
  padding: 15px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 70%);
  border: 3px solid white;
  border-radius: 5px;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}
.column {
  width: 100%;
  font-size: 1.5rem;
}

#about {
  font-size: 2rem;
}

/* Fix this 1024px 768px 480px*/
@media (max-width: 1024px) {
  section {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
@media (max-width: 850px) {
  section {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (max-width: 480px) {
  section {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
